$medium: 700px;
$small: 400px;

$primary: #673ab7;
$secondary: #e91e63;
$tertiary: #009688;
$info: #2196f3;
$warning: #ffeb3b;
$failure: #f44336;
$disabled: #eceff1;
$danger: #ff9800;
$sucess: #4caf50;
