.editorHeaderToolbar {
    height: 50%;
    background-color:#ccc;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight:bold;

    & > p {
        text-transform: capitalize;
        margin: 0 5px;
        &.activeToolBar {
            text-decoration: underline;
        }
        &:hover{
            cursor:pointer;
        }
    }
}
