.infoForm {
    width: Max(60%, 300px);
    align-self: center;

    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;

    & > .formActions {
        margin-top: 20px;
    }
}
