@import "../../../../globalStyle/constants.scss";

.authHomeMain {
    height: 100%;
    width: 100%;
    background: rgb(230, 228, 231);
    background: linear-gradient(
        0deg,
        rgba(230, 228, 231, 1) 0%,
        rgba(232, 230, 233, 1) 30%,
        rgba(233, 231, 236, 1) 54%,
        rgba(235, 230, 236, 1) 100%
    );
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column nowrap;

    & > .carousel {
        height: 70%;
        width: 70%;
        background: black;
    }
}

@media only screen and (max-width: $medium) {
    .authHomeMain {
        & > .carousel {
            height: 50%;
            width: 100%;
        }
    }
}
